/* ID FILE IS SPECIFIC TO EXPERMENT 1 ONLY !!  */

/* TEXT  */

#instructions1-step3{
    visibility: visible;
}

/* DropMenus  */

#dropMenu1-step3, #dropMenu2-step3, #dropMenu3-step3{
    top: 120px;
    left: 425px;
}

/* PENCILS  */

#pencil1-step3{
    width: 145px;
    top: 185px;
    left: 620px;
    rotate: -50deg;
}

#pencil2-step3, #pencil3-step3{
    width: 145px;
    top: 200px;
    left: 570px;
    rotate: -30deg;
}

/* COMPASS  */

#compass1-step3{
    width: 50px;
    height: 140px;
    top: 165px;
    left: 630px;
}

/* BUTTONS  */

#arr-next{
    left: 680px;
    top: 525px;
}

/* TRANSBOXES  */

#trans1-step3, #trans2-step3, #trans4-step3{
    top: 70px;
    left: 425px;
    width: 65px;
    height: 50px;
}

#trans3-step3{
    top: 70px;
    left: 485px;
    width: 65px;
    height: 50px;
}

/* ARROWS  */

#arr1-step3{
    top: 120px;
    left: 430px;
}

#arr2-step3{
    top: 170px;
    left: 700px;
}

#arr3-step3{
    top: 200px;
    left: 650px;
}

#arr4-step3{
    top: 120px;
    left: 495px;
}

#arr5-step3{
    top: 200px;
    left: 670px;
}