/* EXPERIMENTS-CLASS FILE IS COMMON TO ALL THE EXPERIMENTS CLASSES STYLE  */

/* TEXT  */

.step{
    display: inline-block;
}

.step-number{
    background-color: rgb(20, 117, 228);
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
}

.intructions{
    display: inline-block;
    font-size: 20px;
}

/* IMAGES  */

.assembly{
    visibility: visible;
    position: absolute;
    width: 500px;
    height: 40px;
    top: 80px;
    left: 150px;
}

.exp-image-section{
    visibility: visible;
    position: absolute;
    width: 700px;
    top: 125px;
    left: 50px;
}

.exp-pencil{
    position: absolute;
}

/* DropMenus  */

.dropMenu{
    position: absolute;
    width: 75px;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

/* BUTTONS  */

.back-exp,.next-exp{
    position: absolute;
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-exp{
    visibility: hidden;
    left: 660px;
    top: 520px;
}

.next-exp{
    visibility: hidden;
    left: 730px;
    top: 520px;
}

/* TRANSBOXES  */

.exp-transboxes{
    position: absolute;
}

/* ARROWS  */

.exp-arrows{
    position: absolute;
    width: 50px;
}

