/* style the header container  */

.header{
    margin: 0px;
}

.header .header-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header img{
    width: 100px;
    height: auto;
}

/* style the navigation menu  */

nav{
    background-color: lightgray;
    /* padding: 7px; */
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    opacity: .7;
}