*{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.simulation-container{
    background-color: rgba(220,229,236,255);
    width: 800px;
    height: 600px;
    /* padding: 5px; */
}

.title{
    margin: 0px;
    padding: 5px;
    letter-spacing: .1em;
    background-color: rgb(20, 117, 228);
    color: white;
    display: flex;
    justify-content: center;
}

/* Container Text  */

.instruction-main{
    position: absolute;
    display: inline-block;
    top: 30px;
}

.instruction{
    position: absolute;
    display: inline-block;
    top: 30px;
}

.content-container{
    position: absolute;
    padding: 10px;
}

.content-main{
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 100px;
    width: 1000px;
    font-size: 20px;
}

.content{
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 70px;
    font-size: 20px;
    width: 1000px;
}

.container-of-list{
    position: absolute;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 700px;
    font-size: 20px;
}

/* Next Button  */

.next{
    position: absolute;
    left: 730px;
    top: 520px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#next-to-setup1{
    visibility: visible;
}

#next-to-setup2{
    visibility: hidden;
}

/* IMAGES  */

.transbox{
    position: absolute;
    /* border: 1px solid red; */
    left: 460px;
    top: 215px;
    width: 120px;
    height: 85px;
}

.mainPageImg-step1{
    position: absolute;
    left: 180px;
    top: 200px;
}

.instruments-img{
    position: absolute;
    width: 600px;
    left: 0px;
    top: 200px;
}

#mainPageImg{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 100px;
    top: 200px;
}