body, p, div, h3{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.simulation-container{
    background-color: rgba(220,229,236,255);
    width: 800px;
    height: 600px;
    /* padding: 5px; */
}

.title{
    margin: 0px;
    padding: 5px;
    letter-spacing: .1em;
    background-color: rgb(20, 117, 228);
    color: white;
    display: flex;
    justify-content: center;
}

.content-container{
    position: absolute;
    padding: 10px;
}

.instruments-img{
    position: absolute;
    width: 600px;
    left: 0px;
    top: 200px;
}

.exp-index-img{
    position: absolute;
    left: 180px;
    top: 200px;
}

.instruction{
    position: absolute;
    top: 30px;
    width: 1000px;
}

.content{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 500px;
}

.container-of-list{
    position: absolute;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 700px;
    font-size: 20px;
}

.next{
    position: absolute;
    left: 720px;
    top: 500px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(20, 117, 228);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
