#nextBtnOfStarter,#gif1-starter{
    visibility: hidden;
}

.clips-3d-starter{
    position: absolute;
    visibility: hidden;
    width: 50px;
    height: 50px;
    left: 550px;
    top: 150px;
}

#clip2-3d-starter{
    left: 620px;
}

#clip3-3d-starter{
    top: 220px;
}

#clip4-3d-starter{
    top: 220px;
    left: 620px;
}

.drafter1-starter{
    position: absolute;
    visibility: hidden;
    width: 150px;
    height: 150px;
    top: 300px;
    left: 550px;
}

.clips-normal-starter{
    position: absolute;
    visibility: hidden;
    width: 10px;
    height: 20px;
}

#clip1-starter{
    animation: 2s 1 ease forwards moveClip1;
    animation-play-state: paused;
}

#clip2-starter{
    animation: 2s 1 ease forwards moveClip2;
    animation-play-state: paused;
}

#clip3-starter{
    animation: 2s 1 ease forwards moveClip3;
    animation-play-state: paused;
}

#clip4-starter{
    animation: 2s 1 ease forwards moveClip4;
    animation-play-state: paused;
}

.drafter2-starter{
    position: absolute;
    visibility: hidden;
    width: 150px;
    height: 150px;
    animation: 2s 1 ease forwards movingDrafter;
    animation-play-state: paused;
}

@keyframes moveClip1{
    from{
        left: 550px;
        top: 150px;
    }
    to{
        top : 265px;
        left: 45px;
    }
}

@keyframes moveClip2{
    from{
        left: 620px;
        top: 150px;
    }
    to{
        top : 265px;
        left: 375px;
    }
}

@keyframes moveClip3{
    from{
        left: 550px;
        top: 220px;
    }
    to{
        top : 510px;
        left: 45px;
    }
}

@keyframes moveClip4{
    from{
        top: 220px;
        left: 620px;
    }
    to{
        top : 510px;
        left: 375px;
    }
}

@keyframes movingDrafter{
    from{
        top: 300px;
        left: 550px;
    }
    to{
        top : 265px;
        left: 2px;
    }
}